@use 'variaveis';

.hero {
    padding: 2.6vw;
    min-height: 80vh;
    background-image: url(/image/imagem_logo.png);
    background-size: cover;
    color: #fff;
    font-size: 25px;

    &__contente {
        h1 {
            margin-top: 20px;
            margin-bottom: 12px;
        }

        h2 {
            font-size: 16px;
        }

        p {
            font-size: 12px;

        }

    }

}