@use 'variaveis';

.menu {
    padding: 2vw 5.6vw;
    min-height: 50vw;

    &__list {
        margin-top: 44px;
        display: none;

        &--trailer {
            grid-template-columns: 1fr;

            @media (max-width: 768px) {
                grid-template-columns: 1fr;

                .menu__list__item {
                    iframe {
                        width: 300px;
                        height: 200px;
                    }
                }
            }
        }

        &--elenco {
            grid-template-columns: 1fr 1fr 1fr;

            @media (max-width: 768px) {
                grid-template-columns: 1fr;
            }

            img {
                max-width: 100%;
                width: 300px;
                height: 400px;
                border-radius: 4px;

            }
        }

        &--galeria {
            grid-template-columns: 1fr 1fr;

            @media (max-width: 768px) {
                grid-template-columns: 1fr;
            }

            img {
                width: 690px;
                height: 500px;

                @media (max-width: 768px) {
                    width: 290px;
                    height: 200px;
                }
            }
        }

        &--is--active {
            display: grid;
            justify-items: center;
        }
    }

    &__tabs {
        display: flex;
        justify-content: center;

        @media (max-width: 768px) {
            white-space: nowrap;
            overflow-x: scroll;
            padding-left: 20px;
        }


        &__button {
            color: #fff;
            font-size: 20px;
            border: none;
            padding-bottom: 5px;
            background: none;
            text-transform: uppercase;
            margin: 0 1vw;
            cursor: pointer;
            border-bottom: 5px solid transparent;

            &--is--active {
                border-color: #fff;
            }
        }
    }


}