@use 'variaveis';

.main {
    padding: 2.6vw;
    min-height: 100vh;
    background-image: url(../../dist/images/imagem_logo.png);
    background-size: cover;
    color: #fff;
    font-size: 25px;
    display: flex;
    align-items: center;

    &__contente {
        margin-bottom: 50px;

        h1 {
            letter-spacing: 10px;
            margin-top: 100px;
        }

    }

}

.text {
    font-size: 15px;
    color: #fff;
}

.title-h2 {
    font-size: 44px;
    color: #827397;
    top: 0;
    position: absolute;
    display: flex;
    margin-top: 30px;
}

.title-h1 {
    margin-bottom: 12px;
    font-size: 60px;
    color: variaveis.$corTextoPrincipal;
}