@use 'hero';
@use 'variaveis';
@use 'sinopse';
@use 'menu';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    list-style: none;
}

body {
    background-color: variaveis.$corPrincipal;
}