@use 'hero';
@use 'variaveis';
@use 'menu';
@use 'soundtrack';
@use 'comment';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    list-style: none;
}

body {
    background-color: #000;
    color: #fff;

    p {
        font-weight: bold;
    }
}

.image-text-section {

    @media (max-width: 768px) {
        display: block;
    }

    &--image-full-width {
        display: block;
        position: relative;

        img {
            width: 100%;
            opacity: 50%;
        }

        &__text__container {
            position: absolute;
            top: 0;
            left: 10%;
            height: 50%;
            width: calc(50% - 5.6vw);
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1 {
                margin-top: 281px;
            }

            p {
                font-size: 20px;
            }

            @media (max-width: 768px) {
                h1 {
                    margin: 0;
                }

                p {
                    font-size: 10px;
                }

                top: 50px;
                left: -1%;
                width: 100%;
                padding: 20px;
                font-size: 8px;
            }
        }
    }
}

.items_list {
    ul {
        display: flex;
        justify-content: center;

        li {
            list-style: none;
            padding: 20px;

            img {
                width: 40px;
            }
        }
    }
}

.title-h2 {
    font-size: 40px;
    padding-bottom: 20px;

    @media (max-width: 768px) {
        font-size: 15px;
        padding: 0;
    }
}

.text {
    color: variaveis.$corTextoTerciaria;

    @media (max-width: 768px) {
        font-size: 10px;
    }
}

.title-h1 {
    margin-bottom: 12px;
    font-size: 60px;
    color: variaveis.$corTextoPrincipal;
    font-weight: bold;

    @media (max-width: 768px) {
        font-size: 25px;
    }
}

.text-medio {
    margin-bottom: 12px;
    font-size: 20px;
    text-align: center;

    @media (max-width: 768px) {
        font-size: 15px;
    }
}