@use 'title';
@use 'variaveis';
@use 'sinopse';
@use 'menu';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    list-style: none;
}

body {
    background-color: variaveis.$corPrincipal;
}

.image-text-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    img {
        max-width: 100%;
    }

    &__text__container {
        padding: 0 2vw;

        h2 {
            margin-bottom: 24px;
        }
    }

    &--image-full-width {
        display: block;
        position: relative;

        img {
            width: 100%;
        }

        &__text__container {
            position: absolute;
            top: 0;
            left: 10%;
            height: 50%;
            width: calc(50% - 5.6vw);
            display: flex;
            flex-direction: column;
            justify-content: center;

        }
    }
}